@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorPoC.Components
@using BlazorPoC.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.  It also demonstrates how to pass data between components</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <div>
        <WeatherData ForecastCount="@forecastCount"></WeatherData>
    </div>
}

@code {
    private WeatherForecast[]? forecasts;
    private int forecastCount = 5;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }

    async Task Reload()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
